In [1]:
import pandas as pd

# 資料說明

In [2]:
tc = pd.read_csv("../Taichung_591crawler/tc_cleaned_Rent_591.csv")
tp = pd.read_csv("../Taipei_591crawler/tp_cleaned_Rent_591.csv")

In [30]:
tc[tc["kind"]=="雅房"]

,kind,area,space,floor,top_floor,mrt,bd,pet,elevator,parking,balcony,price
939,雅房,西區,6.0,4,4,0,0,0,0,0,1,8000
968,雅房,西屯區,4.0,5,5,0,0,1,0,0,1,12000
998,雅房,大里區,4.0,5,5,0,0,1,0,0,1,6500
1081,雅房,大里區,4.0,5,5,0,0,1,0,0,1,6500
1978,雅房,南屯區,3.0,3,4,1,0,0,0,0,0,4000
2385,雅房,東區,5.0,2,3,0,1,0,0,0,0,16800
2412,雅房,東區,5.0,2,3,0,1,0,0,0,0,5999
2441,雅房,西屯區,3.0,2,4,0,0,1,0,0,0,10500
4693,雅房,大雅區,5.0,4,5,0,0,0,0,0,0,5000
4865,雅房,東區,12.0,2,7,1,0,0,0,0,0,27000
4968,雅房,北區,3.5,1,5,0,0,0,0,0,0,4999
4995,雅房,北區,3.5,1,5,0,0,0,0,0,0,3300
5154,雅房,西屯區,6.0,3,4,0,1,0,0,0,0,3000
5173,雅房,西屯區,4.0,5,5,1,0,0,0,0,0,4500
5401,雅房,南區,13.0,2,2,0,1,0,1,0,0,6200
5416,雅房,北屯區,6.0,8,12,0,0,1,1,0,0,35000
5512,雅房,南屯區,6.0,3,3,1,1,0,0,0,0,60000
5703,雅房,大里區,6.0,2,4,0,0,0,0,0,0,5998
5733,雅房,南屯區,6.0,2,4,0,0,0,0,0,0,5300

In [6]:
tc.columns

Index(['kind', 'area', 'space', 'floor', 'top_floor', 'mrt', 'bd', 'pet',
       'elevator', 'parking', 'balcony', 'price'],
      dtype='object')

In [9]:
tc.price.mean()

16202.37638504155

In [27]:
(tc
 .groupby("area")
 .agg({"price":"mean"})
 .sort_values(by = "price", ascending=False)
)

             price
area
南屯區   22267.311392
烏日區   22050.643979
清水區   20411.650000
北屯區   20199.008205
西屯區   18345.338235
梧棲區   17711.705882
大肚區   14923.000000
大雅區   14317.320000
西區    14307.191327
大里區   13740.500000
東區    13628.669951
中區    13446.107527
南區    13317.968300
潭子區   13298.352941
太平區   13236.439394
豐原區   13132.699029
后里區   12923.095238
北區    12532.079162
沙鹿區   12357.268293
神岡區    9419.739130
龍井區    8507.329949
霧峰區    8065.040816
外埔區    6999.833333
東勢區    6800.000000
大甲區    5666.666667

In [28]:
(tc
 .groupby(["area","kind"])
 .agg({"price":"mean"})
 .sort_values(by = "price", ascending=False)
)

             price
area kind
后里區  分租套房  40000.0
北屯區  雅房    35000.0
清水區  其他    32000.0
太平區  其他    31000.0
烏日區  分租套房  28000.0
...            ...
外埔區  獨立套房   5000.0
大雅區  雅房     5000.0
北區   雅房     4149.5
大里區  分租套房   4000.0
中區   分租套房   4000.0

[86 rows x 1 columns]

# 台中租屋市場分析

# 台北租屋市場分析